body {
  border-left: 20px;
}

.entry-title {
  font-size: 1.5em;
}

.new-entry {
  font-size: 1.5em;
}

.datetime {
  color: #aaa;
}

#footer {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 100px;
  color: #777;
}
