{% extends 'base.html' %}
{% block head %}
<script type="text/javascript">
  $(function() {
    $("#inputdate").datepicker();
  });
</script>
{% endblock %}
{% block body %}
<form action="{{ url_for('add_entry') }}" method=post class=add-entry>
  <dl>
    <dt>Title:
    <dd><input type=text style="width: 500px" name=title value="{{ title }}">
    <dd><input type=hidden name=id value="{{ id }}">
    <dt>Text:
    <dd><textarea name=content rows=5 style="width: 500px; height: 500px">{{ content }}</textarea>
    <dt>Tags:
    <dd><input type=text style="width: 500px" name=tags value="{{ tags }}">
    <dt>Date:
    <dd><input type="text" name="date" id="inputdate" value="{{ date }}"><input type="text" name="time" value="{{ time }}">
    <dd><input type=submit value=Post>
  </dl>
</form>
{% endblock %}
