{% extends 'base.html' %}
{% block title %} thoughts {% endblock %}
{% block body %}

<div class="row">
  <div class="span12">
    {% if auth %}
      <span class="new-entry"> <a href="{{ url_for('admin') }} "> new </a> </span>
      <span class="new-entry"> <a href="{{ url_for('logout') }} "> logout </a> </span>
    {% endif %}

    <div style="padding-bottom: 10px">
      {% for tag in tag_info %}
        <a href="{{ url_for('tagged', tag=tag.tag) }}" class="no-underline">
          <div class="span3 well hoverchange">
            <span class="entry-title">{{ tag.tag }}</span> ({{ tag.count }}) &mdash; {{ tag.desc }}
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
  <div class="span8">

    <h2> everything </h2>
    <div style="padding-bottom: 5px"> sorted by date </div>

    {% for entry in entries %}
      <div>
        <a href="/{{ entry.id }}"> {{ entry.title }}</a>
        {% if auth %}
          <a href="/{{ entry.id }}/edit"> (edit) </a>
          <a href="/{{ entry.id }}/delete"> (delete) </a>
        {% endif %}
        <span class="datetime"> ({{ entry.date }}) </span>
        <span>
          {% if entry.tags %} in categories {% endif %}
          {% for tag in entry.tags %}<a href="/tagged/{{ tag }}">{{ tag }}</a> {% else %} {% endfor %}
        </span>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
