{% extends 'base.html' %}
{% block body %}
<div class="hero-unit">
  <h1>indirection</h1>
  <p> </p>
</div>

<div class="row">
  <div class="span8">
    {% if auth %}
      <span class="new-entry"> <a href="{{ url_for('admin') }} "> new </a> </span>
      <span class="new-entry"> <a href="{{ url_for('logout') }} "> logout </a> </span>
    {% endif %}

    {% for entry in entries %}
      <div>
        <span class="entry-title"> <a href="/{{ entry.id }}"> {{ entry.title }} </a> </span>
        {% if auth %}
          <a href="/{{ entry.id }}/edit"> (edit) </a>
          <a href="/{{ entry.id }}/delete"> (delete) </a>
        {% endif %}
        <span class="datetime"> ({{ entry.date }}) </span>
        <span> 
          ({% for tag in entry.tags %}<a href="/tagged/{{ tag }}">{{ tag }}</a>{% endfor %}) 
        </span>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
