{% extends 'base.html' %}
{% block body %}
<div class="top-of-the-page">
  <h1>indirection</h1>
  <p> stories and ideas </p>
</div>

<div class="row">
  <div class="span8">
    {% for entry in entries %}
      <div class="entry">
        <a href="/{{ entry.id }}"><h2 class="post-title"> {{ entry.title }} </h2></a>
        <span class="datetime"> {{ entry.date }} </span>
        <a href="/{{ entry.id }}/edit"> (edit) </a>
        <a href="/{{ entry.id }}/delete"> (delete) </a>
        <div> {{ entry.content }} </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
